/01_MotionCapture/Mediapipe/Input_Videos
/02_DataProcessing/TS_annotated
/02_DataProcessing/TS_merged
/02_DataProcessing/OpenPose/TS_processed
/02_DataProcessing/Mediapipe/TS_processed
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/calibration/intrinsics
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/calibration/extrinsics
/01_MotionCapture/Mediapipe/Output_Videos
/01_MotionCapture/OpenPose_pose2sim/openpose/bin
/01_MotionCapture/OpenPose_pose2sim/openpose/models/pose/body_135
/01_MotionCapture/OpenPose_pose2sim/openpose/models/pose/body_25b
