/01_MotionCapture/Mediapipe/Input_Videos
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_29_p1/pose
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_30_p1/pose
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_31_p1/pose
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_32_p1/pose
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_33_p1/pose
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_34_p1/pose
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_35_p1/pose
/02_DataProcessing/TS_annotated
/02_DataProcessing/TS_merged
/02_DataProcessing/OpenPose/TS_processed
/02_DataProcessing/Mediapipe/TS_processed
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_35_p1/pose-2d-trackingvideos
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_34_p1/pose-2d-trackingvideos
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_34_p1/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_32_p1/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_31_p1/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_33_p1/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_30_p1/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_29_p1/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/calibration/intrinsics
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/calibration/extrinsics
/01_MotionCapture/Mediapipe/Output_Videos
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_20_p0/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_24_p0/pose
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_25_p0/pose
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_26_p0/pose
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P1/0_1_35_p1/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_26_p0/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_25_p0/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_24_p0/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_23_p0/pose
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_22_p0/pose
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_22_p0/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_21_p0/pose/pose_cam3_json
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_23_p0/pose-3d
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_21_p0/pose
/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_21_p0/pose-3d

/01_MotionCapture/OpenPose_pose2sim/projectdata/Session_0_1/P0/0_1_20_p0/pose
/01_MotionCapture/OpenPose_pose2sim/openpose/bin
/01_MotionCapture/OpenPose_pose2sim/openpose/models/pose/body_135
/01_MotionCapture/OpenPose_pose2sim/openpose/models/pose/body_25b
